footer {
    display: flex;
    justify-content: space-between;
    height: 65px;
    border-top: 1px solid $color-gray;
    padding: 23px 60px;
    color:$color-gray;

    .foterItems {
        display: inline-block;

    }
}