.section4{
text-align: center;

.bottomRow{
    color:red;
    border-top: 1px solid gray;
    font-size: 1.5rem;
  
}

.slika{
    background-image:url(../assets/svg/reg.svg);
    background-repeat: no-repeat;
    background-size: content;
    background-position: left bottom;
    background-size: 60%;
    width: 100%;
}
}


#lizing{
    width: 150px;
}

#osiguranje{
    width: 150px;
}

#reg{
    width: 150px;
}