.section7 {

    h3 {
        @include font-size(2.3);
    }

    p {
        @include font-size(1.8);
        margin-bottom: 38px;
    }

    .inputInform {
        float: left;
        width: 636px;
        height: 50px;
        text-indent: 20px;
        @include font-size(1.5);
        color: $color-gray-light;

    }

    .myForm {
        display: inline-block;

    }

    .bdtInform {
       float: left;
        background-color: $color-text-red;
        width: 182px;
        height: 50px;
        border: none;

        color: white;
        padding: 15px 50px;
        @include font-size(1.4);
    }

    .bdtInformContainer {
        padding: 66px;
        background-color: $color-gray-light;
    }

    .pitanjeZaNas {
        background-color: $color-back;
        border-bottom: 2px solid $color-gray;

        h3 {
            @include font-size(2.4);
        }

        p {
            @include font-size(1.7);
        }
    }

    .btnPitanjeZaNas {
        border: 2px solid $color-text-red;
        padding: 20px 100px;
        color: $color-gray-dark;
        @include font-size(1.4);
    }
}