.section3{
    text-align: center;

    .broj{
        font-size: 5rem;
        color:red;
    }

    .bottomRow{
        color:red;
        border-top: 1px solid gray;
        font-size: 1.5rem;
      
    }

    #arrow{
        fill:red;
        
    }
}

