.section6{

    border-top: 2px solid $color-gray;

    h1{
        text-align: center;
        margin-top: 75px;
        font-size: 1.5rem;
       margin-bottom: 60px;
    }

    h4{
        color: $color-gray;
        margin-bottom: 20px;
    }
    h6{
        font-size: 1rem;
        color: $color-gray-dark;
        font-style: bold;
    }
    img{
        width: 100%;
    }
    a{
        display: block;
        font-size: 1.1rem;
        text-decoration: none;
        color:$color-text-red;
        margin-bottom:70px; 
    }

    .iconica-strelica{
        width: 10px;
        height: 10px;
        fill:red;
    }

   
}