.section4{
    text-align: center;

    img{
        margin-top: 143px;
        margin-bottom: 68px;
    }
    .head-p{
        width: 750px;
        margin: 0 auto;
        font-size: 1.2rem;
        margin-bottom: 78px;
    }

    h3{
        font-size: 2rem;
    }

    p{
        color:$color-gray;
    }
    a{
        font-size: 1.1rem;
        text-decoration: none;
        color:$color-text-red;
    }

    .icons{
        margin-bottom: 43px;
    }

.bottomRow{
    color:red;
    border-top: 1px solid gray;
    font-size: 1.5rem;
  
}

}

.iconica-strelica{
    width: 10px;
    height: 10px;
    fill:red;
}
.iconica-crvena{
    width: 120px;
    fill:red;
}
.registracija{
    height: 60px;
    margin-bottom: 50px;
}
.lizing{
    height: 85px;
    margin-bottom: 50px;
}
.osiguranje{
    height: 80px;
    margin-bottom: 50px;
}