.section5 {
    padding-top: 50px;

    a {
        display: block;
        @include font-size(1.8);
        text-decoration: none;
        color: $color-text-red;
        margin-bottom: 114px;
    }
    p{
        @include font-size(1.8);
    }

    h1 {
        margin-top: 330px;
        @include font-size(4.2);
        color: $color-gray-dark;
    }


    img {
        margin-top: 264px;
        width: 960px;
        padding-bottom: 20px;

    }

    .redBox {
        position: absolute;
        top: 200px;
        left: 150px;
        width: 865px;
        height: 375px;
        background-color: red;
        z-index: -1;
    }

    .iconica-strelica {
        width: 10px;
        height: 10px;
        fill: red;
    }



    .main-p {
        width: 765px;
        @include font-size(1.8);
    }
}