.third__section{
    background: $color-background-red;

    display: flex;
    flex-direction: column;
   align-items: center;
    &--title{
        color:white;
    }

    &--text{
        color:yellow;
    }

    &-cards{
        display: flex;
        justify-content: space-evenly;
        color:black;
        font-size: 40px;
    }
   
}

.prva{
    width: 100%;
    height: 100%;
    background: $color-background-red;
    font-size: 60px;
    text-align: center;
    color: white;
}

.druga{
    width: 100%;
    height: 100%;
    background: $color-background-blue;
    font-size: 60px;
    text-align: center;
    color: white;
}

.treca{
    width: 100%;
    height: 100%;
    background: $color-background-green;
    font-size: 60px;
    text-align: center;
    color: white;
}

.test{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
}